<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-4 left-section">
                <br>
                <img src="/assets/images/logo/pyqplatform-final-logo.jpg" alt="" class="logo">
                <p>KGS is the most trusted platform.</p>
                <p>Download our App to start learning</p>
            </div>
            <div class="col-6 col-md-4">
                <br>
                <h3>Links</h3>
                <div class="row links">
                    <div class="col-6">
                        <a href="">Home</a>
                        <a href="">Courses</a>
                        <a href="">Test Series</a>
                    </div>
                    <div class="col-6">
                        <a href="">Home</a>
                        <a href="">Courses</a>
                        <a href="">Test Series</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <br>
                <h3>Address</h3>
                <div class="row links">
                    <p>3rd floor, 42, Rajdanga Sarat Pk Rd, beside RCS Table Tennis Academy, <br> Shantipally Sector B, East Kolkata Twp, Kolkata, West Bengal 700107</p>
                    <p>+91 988928399</p>
                </div>
            </div>
        </div>
    </div>
</footer>