<!-- Form theme -- initial design -->
<!-- <mat-card class="form-card">
    <form class="example-form" (submit)="onSubmitForm(form)" #form="ngForm">
        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput type="text" name="title" ngModel required minlength="3" placeholder="Post Title"
                #title="ngModel">
            <mat-error>Please Enter Correct Details</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput name="textArea" ngModel required #content="ngModel"></textarea>
            <mat-error>Please enter something, anything would do, really</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" value="Save">Save</button>
    </form>
</mat-card> -->
<!-- <br> -->
<div class="container-fluid">
    <div class="row header-section">
        <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="header-left-section">
                <br>
                <h1>PYQ Platform E -learning and E-Editing</h1>
                <br>
                <p>To know more about our e learning download the app now from play store</p>
                <br>
                <button mat-raised-button color="accent">Click here to install</button>
                <br>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12"></div>
        <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="header-right-section">
                <img src="/assets/images/11604301_Video Files.svg" alt="" style="height: 350px;">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row section-2">
        <br>
        <div class="col-12">
            <h1>Indias Most Loved Educational Platform</h1>
        </div>
        <div class="col-md-3 col-6">
            <mat-card class="section-2-card">
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <img mat-card-image src="/assets/images/2848727_414342-PDTRPC-987.svg">
                <mat-card-content>
                    <h2>Happy Students <br> 250000</h2>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-3 col-6">
            <mat-card class="section-2-card">
                <img mat-card-image src="/assets/images/video-lecture-svgrepo-com.svg">
                <mat-card-content>
                    <h2>Video Lectures</h2>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-3 col-6">
            <mat-card class="section-2-card">
                <img mat-card-image src="/assets/images/11604301_Video Files.svg">
                <mat-card-content>
                    <h2>Mock Test</h2>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </div>
        <div class="col-md-3 col-6">
            <mat-card class="section-2-card">
                <img mat-card-image src="/assets/images/2848727_414342-PDTRPC-987.svg">
                <mat-card-content>
                    <h2>Questions</h2>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
</div>
<div class="container">
    <div class="row section-3">
        <br>
        <div class="col-12">
            <button mat-raised-button color="accent"> E-learning </button>
        </div>
        <div class="col-12 col-md-4">
            <div class="section-3-image">
                <img mat-card-image src="/assets/images/e-learning.jpg">
            </div>
            <!-- <mat-card class="section-3-image"> -->
            <!-- </mat-card> -->
        </div>
        <div class="col-12 col-md-8">
            <mat-card class="section-3-card">
                <!-- <img mat-card-image src="/assets/images/video-lecture-svgrepo-com.svg"> -->
                <mat-card-content>
                    <h2>Video Lectures</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia distinctio laudantium dicta
                        est, sequi quis! Dignissimos quibusdam similique eos architecto autem provident earum ratione
                        dolores incidunt, numquam ipsa aliquid placeat!
                    </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
            <!-- <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab eligendi
                            doloribus sit porro iure molestias odio quidem commodi animi, praesentium pariatur! Iusto
                            repellat recusandae reprehenderit. Eum nesciunt obcaecati ipsum hic. </mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt inventore porro quaerat voluptas
                    delectus accusamus facere pariatur possimus, quos rerum officia voluptates minus, quas quam
                    obcaecati voluptatibus ullam eveniet ea!
                </mat-card-content>
            </mat-card> -->
            <div class="section-3-card card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 img-col">
                        <img src="/assets/images/earth-globe-tool.svg" class="img-fluid rounded-start" alt="">
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Flexible Learning</h5>
                            <p class="card-text">
                                Grow Your Knowledge And Your Opportunities With Thought Leadership, Training and Tools
                            </p>
                            <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-3-card card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 img-col">
                        <img src="/assets/images/earth-globe-tool.svg" class="img-fluid rounded-start" alt="">
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Industrial Standard</h5>
                            <p class="card-text">
                                Grow Your Knowledge And Your Opportunities With Thought Leadership, Training and Tools
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section-3">
        <br>
        <div class="col-12">
            <button mat-raised-button color="accent"> E-editing </button>
        </div>
        <div class="col-12 col-md-4">
            <div class="section-3-image">
                <img mat-card-image src="/assets/images/11604301_Video Files.svg">
            </div>
            <!-- <mat-card class="section-3-image"> -->
            <!-- </mat-card> -->
        </div>
        <div class="col-12 col-md-8">
            <mat-card class="section-3-card">
                <!-- <img mat-card-image src="/assets/images/video-lecture-svgrepo-com.svg"> -->
                <mat-card-content>
                    <h2>Video Lectures</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia distinctio laudantium dicta
                        est, sequi quis! Dignissimos quibusdam similique eos architecto autem provident earum ratione
                        dolores incidunt, numquam ipsa aliquid placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nulla exercitationem nam, ipsa perferendis, eligendi voluptatum natus rerum ad, molestiae incidunt non expedita aperiam odit illo cum iure qui eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum soluta eaque facilis esse, nesciunt numquam dignissimos inventore nemo dolor placeat, dolores ex? Minima, dolore doloribus ullam odio blanditiis praesentium maiores?
                    </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
</div>
<!-- <mat-grid-list cols="5" rowHeight="1:1" class="header-section" fxLayout>
    <mat-grid-tile [colspan]="2">
        <div class="header-left-section">
            <h1>PYQ Platform E -learning and E-Editing</h1>
            <p>To know more about our e learning download the app now from play store</p>
            <button mat-raised-button color="accent">Click here to install</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        <div class="header-right-section" style="height: 100%;">
            <img src="/assets/images/11604301_Video Files.svg" alt="" style="height: 100%;">
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" class="section-2">
    <mat-grid-tile [colspan]="4">
        <h3>Indias Most Loved Educational Platform</h3>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=""></mat-grid-tile>
</mat-grid-list> -->